black==22.3.0
flake8
pre-commit
pytest
pytest-cov
pip
bs4
osmnx
rasa[spacy]==3.0.9
pyowm
selenium
webdriver-manager
pycountry
pandas
fuzzywuzzy
git+https://github.com/LIAAD/yake
countryinfo
zmq
pyzbar
folium